wc-divider-100554 { //don't change this line 

    display: block;

    hr {
        display: block;
        border: 0;
        text-align: center;
        overflow: visible;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    hr:before {
        font-family: var(--font-family-primary);
        font-weight: 400;
        font-style: italic;
        font-size: var(--font-size-40);
        letter-spacing: .6em;
        content: attr(data-text);
        display: inline-block;
        margin-left: .6em;
        color: var(--text-primary-color);
        position: relative;
        top: -10px;
    }
}

