service-project-details-100554 { //don't change this line 
 	 :host{
        font-family: @font-family-primary;
     }
     .section-details{
        padding: .5rem;
     }
     .section-config-github{
        padding: .5rem;
        textarea {
            width: 100%;
        }
        button {
            margin-top: 1rem;
        }
     }
}

