service-ds-assets-overview-100554 { //don't change this line 
 	:host{
        font-family: @font-family-primary;
    }
    .service_assets_overview {
        padding: .6rem;
        details {
            border: 1px solid #f3f3f3;
            background: white;
            padding: 1rem;
            border-radius: 10px;
            summary {
                font-size: 18px;
                font-weight: bold;
            }
            ul {
                padding-inline-start: 2rem;
                list-style: none;
                margin-top: 1rem;
                li {
                    margin-bottom: 0.5rem;
                    span:nth-child(3) {
                        font-weight: bold;
                    }
                }
            }
        }
        .ds_assets_ds_container {
            textarea{
                width: 100%;
            }
            .actions {
                margin-top: 1rem;
                display: flex;
                justify-content: center;
                button {
                    color: #ffffff;
                    background: #e35e5e;
                    border-color: #e35e5e;
                }
            }
        }
    }
}

