aim-select-widget-100554 {
    //don't change this line 

    .select-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 20em);
        gap: 1px;

        .select-grid-item {
            padding: 5px;
            display: flex;
            cursor: pointer;
            label {
                cursor: pointer;
                max-width: 15em;
                text-overflow: ellipsis;
                font-size: @font-size-16;
            }
            &.selected {
                background: @grey-color-light;
                animation: backgroundFadeIn 5s ease-in-out;
            }
        }
    }

    
    .select-search {

        margin-top: 2rem;
        display: flex;
        gap: .6em;
        border-left: 1px solid @grey-color-dark;
        padding-left: 1rem;

        input {
            width: 100%;
        }

        button {
            width: 10em;
        }
    }

    .select-btn{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 1rem;

        .select-check-all{
            display: flex;
            gap: .2rem;
            label{
                cursor: pointer;
            }
        }
        .select-btn-group{
            display: flex;
            align-items: center;
            gap: 1rem;
        }
        .select-clear-all {
            display: flex;
            align-items: center;
            gap: .2rem;
        }
        .select-btn-actions {
            display: flex;
            gap: 1rem;

            button {
                min-width: 10em;
            }
        }
    }

}

