service-aim-100554 { //don't change this line 

    :host {
        display: block;
        height: 100%;
    }
    
    
    .addTab {
      height: 100%;
      background-image: linear-gradient(to bottom, #23376a, #600965); 
      color: black;
    }
    .listTab { 
      height: 100%;
      background-image: linear-gradient(to bottom, #23376a, #600965);
      color: antiquewhite;
    }
    details { 
        font-size: 16px; 
        margin: 10px; 
    }
    button {
        padding: 1.3em;//_100554_serviceDsStyleSpacing
        border: 4px solid transparent;//_100554_serviceDsStyleBorder
    }
    summary { cursor: pointer; }
    .toolbar {
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
    }
    .buttonGroup {
        display: flex;
        flex-direction: row;
        gap: 2em;
    }    
    .buttonIcon {
      cursor: point;
      height: 26px;
      width: 26px;
      font: normal normal normal 16px/1;
      display: inline-block;
      border: none;
      background-color: transparent;
      text-decoration: none;
      text-rendering: auto;
      text-align: center;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
    .ActionItemContainer {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
        grid-template-rows: max-content;
        gap: 1em;
        padding: 1em;
    }
    .ActionItem {
        height: 3em;
        width: 20em;
        background-color: #f3e5f5;
        box-shadow: rgb(55 27 61 / 18%) 7px 7px 2px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 4px;
        padding: 0.5em;
    }
    .addContainer {
        margin: 1em;
        background-color: #f3e5f5;
        box-shadow: rgb(55 27 61 / 18%) 7px 7px 2px 0px;
        border-radius: 4px;
        padding: 0.5em;
    }

    ul {
        padding-inline-start: 10px;
        margin: 10px;
    }
    
    .title { 
        color: #18061c; 
        background-image: linear-gradient(to right, #a077c5, #7764bf, #4A90E2); 
        text-align: center; 
        margin: 0; 
    }
    .tb {
      width: 100%;
      border-collapse: separate;
      border: 1px solid #dedede;
      border-spacing: 3em 1em;
      overflow-x: auto;      
    }
    .th, .td {
      padding: 8px;
      text-align: left;
      width: auto;
    }
    .th {
      background-color: #f2f2f2;
    }


    .tabs {
        display: flex;
        list-style: none;
        padding: 0;
    }

    .tab {
        margin-right: 2px;
        padding: 10px 15px;
        cursor: pointer;
        border: 1px solid transparent;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }

    .tab:not(.active){
        border-bottom: 1px solid @grey-color-dark;
    }

    .tab.active {
        background-color: #f0f0f0;
        border-color: #ccc;
        border-bottom-color: transparent;
    }

    .tab-content {
        padding: 15px;
        border: 1px solid #ccc;
        border-top: none;
        border-radius: 0 0 0.25rem 0.25rem;
        background-color: #f0f0f0;
    }

    .tab-content.active {
        display: block;
    }

    .tab-content:not(.active) {
        display: none;
    }
}

