wc-text-100554 { //don't change this line 
 	display: inline-block;
    width: 100%;
    &.dropcap{
        p::first-letter {
            font-size: 3em;
            font-weight: bold;
            float: left;
            line-height: 1;
            margin-right: 0.1em;
            }
    }
}

