/// <mls shortName="ateste" project="100554" enhancement="enhancementStyle" />
ateste-100554 {
    display: block;
    .cls1 {
        font-size: 14px; // test
        border: 1px;
        clip-path: none;
        text-shadow: 1px 1px;
        column-count: auto;
        flex: 1 1 auto;
        cursor: pointer;

        h1 {
            background-color: @bg-primary-color;
            color: red;
        }

        padding: 0px;
        margin: 0rem;
    }
}

ateste-100554.thema2 {
    .cls1 {
        background-color: @text-primary-color-lighter-disabled;
        color: @success-color-focus;
        font-size: 12px;
        border-width: 1px;

        h1 {
            color: red;
        }

        h1:hover {
            color: yellowgreen;
        }
    }
}


