/// <mls fileReference="_100554_/l2/collabTiles.less" enhancement="_blank" />

collab-tiles-100554 {

    background-color: #bfc0edab;
    display: block;
    padding: 10px;


    .collabtilesconfigiten {
        background: none;
        border: none;
        box-shadow: none;
        cursor: pointer;
    }

    .collabtilesconfigiten:hover {
        background: none;
        border: none;
        box-shadow: none;
        fill: #7d00ff;
        color: #7d00ff;
    }

    collab-tiles {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-auto-rows: 100px;
        gap: 10px;
    }

    collab-tiles-item-100554 {
        background-color: #fff;
        border-radius: 8px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        text-align: center;
    }


    break-800 collab-tiles {
        display: flex;
        flex-direction: column;
    }

    break-800 collab-tiles-item-100554 {
        grid-area: none !important;
        height: 300px;
    }

}


