/// <mls fileReference="_100554_/l2/collabPanel.less" enhancement="_blank" />

collab-panel-100554 {

    width: 97%;
    padding: .5rem;
    border-radius: 3px;
    display: block;
    
    font-family: @font-family-primary;
    font-size: @font-size-16;
    font-weight: @font-weight-normal;
    line-height: 1.5;
    color: @text-primary-color;
    background-color: @bg-primary-color;

    details {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    summary {
        width: calc(100% - 15px);
        display: flex;
        user-select: none;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
    }

    paneltitle {
        width: calc(100% - 17px);
        display: block;
        padding-left: 1rem;
		padding-top: 1px;
    }

    svg {
        fill: @text-primary-color;
    }   
    
    panelicon {
        width: 15px;
        display: block;
             
    }

    collab-panel-content {
        display: flex;
        gap: 1rem;
        width: calc(100% - 35px);
        padding: 1rem;
        flex-wrap: wrap;
    }

    collab-panel-item-100554.active {
        text-decoration: underline;
    }

    collab-panel-item-100554 {
        display: block;
        min-width: 7em;
        min-height: 40px;
        cursor: pointer;
        padding-right: 2em;
    }

    collab-panel-item-100554 collab-panel-item {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        position: relative;
    }

    collab-panel-item-100554 collab-panel-item-svg {
        display: flex;
        padding: 4px;
        align-items: center;
        justify-content: center;

        svg{
            width: 22px;
            fill: @text-primary-color;
        }
    }

    collab-panel-item-100554 collab-panel-item-info {
        display: block;
        padding: .5rem 0;
        color: #6b6be6;
    }

    collab-panel-item-100554 collab-panel-item-badge {
        position: absolute;
        top: 26px;
        left: -1px;
        background: @error-color;
        color: #fff;
        font-size: .7rem;
        padding: .2rem;
        border-radius: 50%;
        width: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    collab-panel-item-100554 .loading {
        background-color: @bg-primary-color;
        background: linear-gradient(100deg,
                rgba(255, 255, 255, 0) 40%,
                rgba(255, 255, 255, .5) 50%,
                rgba(255, 255, 255, 0) 60%) @bg-primary-color;
                
        background-size: 200% 100%;
        background-position-x: 180%;
        animation: 1s loading ease-in-out infinite;
    }

    @keyframes loading {
        to {
            background-position-x: -20%;
        }
    }

}


