/// <mls shortName="collabNav4Menu" project="100554" enhancement="enhancementStyle" folder="" />

collab-nav4-menu-100554 {

	font-family: Cambria, serif;
	font-size: 14px;
	display: block;
	font-weight: 400;
	background: #f6f6f6;
	border-radius: 6px;
	height: 40px;
	box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);

	.collab-nav4-menu-100554-nav {
		display: flex;
		height: 40px;

		.collab-nav4-menu-100554-tab {
			display: flex;
			align-items: center;
			gap: @space-8;
			cursor: pointer;
			padding: 6px 12px;
			background: @bg-secondary-color-lighter;
			color: @text-primary-color;
			transition: all @transition-slow;
			border: none;
			border-bottom: 1px solid @bg-secondary-color;
			// box-shadow: none;
			position: relative;
			z-index: 0;

			svg {
				fill: currentColor;
			}


			&:hover {
				background: @bg-secondary-color-hover;
			}

			.arrow {
				font-size: 10px;
				transition: transform 0.2s;
			}

			&.active {
				border: 1px solid @grey-color;
				border-bottom: none;
				background: @bg-primary-color;
				color: @active-color;
				font-weight: @font-weight-bold;
			}

			.icon {
				display: flex;
				align-items: center;
				font-size: @font-size-16;
			}

			.text {
				font-size: 14px;

			}

			.close-btn {
				display: flex;
				margin-left: 4px;
				background: transparent;
				border: none;
				color: @text-primary-color-lighter;
				cursor: pointer;
				font-size: @font-size-16;
				transition: color @transition-slow;

				&:hover {
					color: @error-color;
				}
			}

			&.open .dropdown-btn .arrow {
				transform: rotate(180deg);
			}
		}


		// Modo onlyicon
		&.onlyicon {
			.collab-nav4-menu-100554-tab {
				.text {
					display: none;
				}

				&.active {
					.text {
						display: inline;
					}
				}
			}
		}

		// Modo fixed (sem close)
		&.fixed {
			.collab-nav4-menu-100554-tab .close-btn {
				display: none;
			}
		}
	}

	.dropdown-btn {
		border: 1px solid #cecece;
		border-radius: 8px;
		margin: auto 1rem;
		height: 30px;
		width: 30px;
		cursor: pointer;
	}


	.dropdown-menu {
		position: absolute;
		top: 42px;
		left: 10px;
		background: #fff;
		border: 1px solid #ccc;
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
		border-radius: 6px;
		min-width: 300px;
		z-index: 10;
		padding: 4px 0;

		.dropdown-title{
			text-align: center;
			padding: .3rem;
			border-bottom: 1px solid @grey-color-light;
			h3{
				font-size: @font-size-16;
				margin: 0;
			}
		}

		.dropdown-item {
			height: 30px;
			padding: 8px 12px;
			cursor: pointer;
			transition: background 0.2s;
			display: flex;
			align-items: center;
			gap: 1rem;

			&:hover, &.selected {
				background: #f2f2f2;
			}
		}
	}


}


