/// <mls fileReference="_100554_/l2/collabConsole.less" enhancement="_100554_/l2/enhancementStyle" />

collab-console-100554 {

    font-family: monospace;
    background: @surface-bg-focus;
    color: @text-default;
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: @font-size-12;

    .log {
        margin: 0;
        padding: 5px 0;
    }

    .warn {
        color: @status-warning-text-focus;
    }

    .error {
        color: @status-error-text;
    }

    .info {
        color: @status-info-text-hover;
    }


	box-shadow: 0px -1px 10px -4px;
}


