/// <mls fileReference="_100554_/l2/collabStartL3.less" enhancement="_blank" />

collab-start-l3-100554 {

    line-height: 1.15;
    position: relative;
    height: 100%;
    overflow: auto;
    font-family: 'Cambria', serif;
    font-size: @font-size-16;
    font-weight: 400;


    details>summary {
        cursor: pointer;
        font-size: @font-size-20;
    }

    .collab-codes-banner {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 100%;
        max-width: 100%;
        position: relative;

        img {
            width: 100% !important;
            height: auto !important;
        }
    }

    .collab-codes-link {
        display: flex;
        justify-content: center;
        gap: 2rem;
        padding: 2rem;

        button {
            cursor: pointer;
            background: none;
            border: none;
            text-decoration: underline;
            color: @active-color;
        }
    }

    .collab-codes-content {
        padding: 0 .5rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 800px;
        justify-content: center;

        details {
            margin-bottom: 1rem;
        }

        details>div {
            padding-left: 1.5rem;
        }
    }

    .collab-codes-contents {
        justify-content: center;

        details {
            margin-bottom: 1rem;
        }

        details>div {
            padding-left: 1.5rem;
        }
    }

    .separator {
        padding-top: 24px;
        padding-bottom: 10px;
        margin-top: 32px;
        margin-bottom: 14px;
        display: flex;
        justify-content: center;

        >span {
            width: 4px;
            height: 4px;
            background-color: @text-primary-color;
            border-radius: 50%;
            display: inline-block;
            margin-right: 20px;
        }
    }

    h1 {
        line-height: 52px;
        font-size: 42px;
        font-weight: 700;
        font-style: normal;
    }

    h2 {
        line-height: 30px;
        font-size: 24px;
        font-weight: 600;
        font-style: normal;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    h7 {
        letter-spacing: -0.011em;
    }

    ol>li,
    ul>li {
        margin-top: 1em;
    }

    span,
    p,
    li {
        line-height: 32px;
        font-size: 20px;
    }

    .collab_marca {
        position: absolute;
        bottom: 10px;
        right: 20px;
        opacity: 0.2;
    }

}


