/// <mls fileReference="_100554_/l2/collabResultTest.less" enhancement="_blank" />

collab-result-test-100554 {

    color: #000000;

    .test-container {
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: Arial, sans-serif;

        i > svg{
            width: 18px;
            height: 16px;
        }

        details>summary {
            cursor: pointer;
            margin-left: .2rem;
        }

        details>div {
            margin-top: .1rem;
            margin-left: 1.5rem;

        }
    }



    .loading {
        font-size: 24px;
        animation: spin 5s linear infinite;
    }

    .result {
        font-size: 16px;

        pre {
            white-space: pre-line;
            margin: 0;
            font-size: 12px;
        }    

        &.pass {
            color: @success-color;
        }

        &.failed {
            color: @error-color;
            fill: var(--error-color);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

}


