/// <mls shortName="collabPreviewL3" project="100554" enhancement="enhancementStyle" folder="" />

collab-preview-l3-100554 {

    --id-name:' ';
    collab-selected-overlay:before {
        content: var(--id-name);
        width: max-content;
        height: max-content;
        padding: .1rem;
        background-color: rgba(0, 183, 255, 0.22);
        position: absolute;
        top: -22px;
        left: 0px;

    }


}


