/// <mls shortName="collabMessagesConnect" project="100554" enhancement="enhancementStyle" />

collab-messages-connect-100554 {

    display: flex;
    flex-direction: column;
    height: 100%;

    .loader {
        display: inline-block;
        width: 16px;
        height: 16px;
        border: 2px solid #ccc;
        border-top: 2px solid #333;
        border-radius: 50%;
        animation: spin 0.6s linear infinite;
    }

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }

    .header {
        height: 30px;
        background-color: @grey-color-lighter;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: @font-size-12;
        text-transform: uppercase;
    }

    .thread-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .thread-item:hover {
        background-color: @bg-primary-color-focus;
    }

    .thread-item {
        cursor: pointer;
        transition: background-color 0.5s;
        display: flex;
        align-items: center;
        padding: 0.1rem;
        position: relative;
        width: 100%;

        .back-button {
            cursor: pointer;
        }

        .avatar {
            flex: 0 0 auto;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            margin-right: 1rem;
        }

        .thread-content {
            flex: 1;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            border-bottom: 1px solid @grey-color;
            padding: 0.9rem;
        }

        .thread-item-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.5rem;

            .thread-name {
                font-size: 1rem;
                font-weight: bold;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .last-update {
                font-size: 0.875rem;
                color: @grey-color-dark;
                white-space: nowrap;
            }
        }

        .thread-summary {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .last-message {
                font-size: 0.875rem;
                color: @text-primary-color;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                flex: 1;
            }

            .unread-count {
                background-color: @success-color;
                color: #fff;
                font-size: 0.75rem;
                font-weight: bold;
                padding: 0.25rem 0.5rem;
                border-radius: 12px;
                margin-left: 1rem;
                white-space: nowrap;
            }
        }


    }

    .chat-container {

        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 10px;
        width: calc(100% - 20px);
        // height: calc(100% - 100px);
        overflow-y: auto;
        max-height: 100%;

        .message-time {
            text-align: center;
            font-size: .85rem;
            color: gray;
            margin-bottom: 5px;
        }

        .message {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            margin-bottom: 10px;

            &.user {
                align-items: flex-end;
            }

            .message-row {
                max-width: 80%;
                margin-bottom: 3px;
                margin-right: 50px;
                margin-left: 50px;

                .message-card {
                    display: flex;
                    flex-direction: column;
                    background-color: #f9f9f9;
                    border: 1px solid #ddd;
                    border-radius: 8px;
                    padding: 1rem;
                    position: relative;

                    &.user {
                        background-color: #daf8cb;
                        align-self: flex-end;
                    }

                    .message-title {
                        color: #be069c;
                    }

                    .message-ai {
                        margin-top: .3rem;
                        display: flex;
                        margin-left: auto;
                    }

                    .message-content {
                        padding-right: 4em;
                        margin-top: .4rem;
                    }

                    .message-footer {
                        font-size: .75rem;
                        color: gray;
                        text-align: right;
                    }
                }
            }

            .message-group {
                display: contents;
            }

        }

    }

    .wrapper {
        position: relative;
        display: flex;
        align-items: center;
        background-color: var(--grey-color-light);
        padding: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        height: 100px;

        textarea {
            padding: 10px 15px;
            border: 1px solid #d1d1d1;
            background-color: #fff;
            color: #000;
            font-size: 14px;
            transition: border-color .3s ease;
            width: 100%;
            border-radius: 8px;
            outline: none;
        }

        .suggestions {
            position: absolute;
            bottom: 53%;
            left: 5%;
            right: 0;
            background: white;
            border: 1px solid #ccc;
            z-index: 10;
            display: block;
            width: 200px;
            border-radius: 10px;
        }

        .suggestion {
            padding: 5px 10px;
            cursor: pointer;
        }

        .suggestion:hover {
            background: #f0f0f0;
        }

        button {
            margin-left: 8px;
            padding: 10px 12px;
            border: none;
            border-radius: 9999px;
            background-color: #ddd;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            transition: background-color .3s ease;
        }

        button:disabled {
            background-color: #e0e0e0;
            cursor: not-allowed;
        }
    }



}


