/// <mls fileReference="_100554_/l2/collabTokensVisualization.less" enhancement="_blank" />
				
collab-tokens-visualization-100554 {
                
 .colors-container{
    display: flex;
    flex-wrap: wrap;
    >div {
        width: 30px;
        height: 30px;
    }
 }
                
}


