/// <mls fileReference="_100554_/l2/collabConsoleL1.less" enhancement="_blank" />

collab-console-l1-100554 {

    display:block;
    height: 100%;

    .console {
        height: 100%;
        background: #000;
        border-radius: 5px;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .output {
        flex: 1;
        overflow-y: auto;
        padding: 5px;
        div{
            color:#d2d2d2
        }
    }

    .header{
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #444;
        padding: 5px;
        color: #0f0;
    }

    button{
        background-color: #3c3434;
        border:1px solid rgb(76, 71, 71);
        color: #0f0;
        cursor: pointer;
    }

    .input-area {
        display: flex;
        align-items: center;
        border-top: 1px solid #444;
        padding: 5px;
    }

    .prompt {
        color: #0f0;
        margin-right: 5px;
    }

    .input-box {
        flex: 1;
        background: transparent;
        border: none;
        outline: none;
        color: #0f0;
        font-size: 16px;
    }

}


