/// <mls fileReference="_100554_/l2/contentTabs.less" enhancement="_100554_/l2/enhancementStyle" />

content-tabs-100554 {

    .content-tabs-100554-nav {
        display: flex;
        gap: 8px;
    }

    .content-tabs-100554-tab {
        cursor: pointer;
        padding: 6px 12px;
        border: 1px solid @border-subtle;
        background-color: @surface-bg-focus;
        border-bottom: 1px solid @border-subtle;
        border-radius: 4px 4px 0 0;
        color: @text-default;
    }

    .content-tabs-100554-tab[selected] {
        background: @surface-bg;
        border: 2px solid @border-subtle-focus;
        border-bottom: none;
        color: @link-text;
        font-weight: 600;
    }

    .content-tabs-100554-section {
        border: 2px solid @border-subtle;
        border-radius: 0 6px 6px 6px;
        padding: 16px;
        margin-top: -2px;
        background: @surface-bg;
    }

    .content-tabs-100554-content {
        display: block;
        border: 1px solid #ccc;
        padding: 12px;
        background-color: @surface-bg;
    }

    .content-tabs-100554-content:not([active]) {
        display: none;
    }

}


