/// <mls fileReference="_100554_/l2/driverTest.less" enhancement="enhancementStyle" />

driver-test-100554 {

    h3,
    h5 {
        text-align: center;
    }

    .blockdriver {
        display: flex;
        gap: .5rem;
        align-items: center;
        justify-content: center;
    }

    button {
        position: relative;
        padding: .5rem;
        background-color: #FCFCFD;
        border-radius: 4px;
        box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
        box-sizing: border-box;
        cursor: pointer;

        transition: box-shadow .15s, transform .15s;
        user-select: none;
        -webkit-user-select: none;
        white-space: nowrap;
        will-change: box-shadow, transform;
        border: 1px solid @grey-color-dark;

    }

    button:focus {
        box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    }

    button:hover {
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
        transform: translateY(-2px);
        opacity: .8;
    }

    .fields {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: .5rem;

        input,
        select {
            outline: none;
            height: 25px;
            border-radius: 3px;
            border: 1px solid @grey-color-dark;
        }
    }

    .blockexec {
        margin-top: 1rem;
        display: none;
        flex-direction: column;
        gap: .5rem;
        align-items: center;
        justify-content: center;
    }

    &.load .blockexec{
        display:flex;
    }

    #textlog {
        margin-top: .5rem;
        font-family: "JetBrains Mono", monospace;
        background: #edecec;
        padding: 1rem;
        word-wrap: break-word;
        word-break: break-word;
        overflow-wrap: break-word;
        white-space: normal;
    }

    .log {
        display: flex;
        gap: .5rem;
        align-items: center;
        justify-content: center;
            flex-direction: column;
    }

    #showParam {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        margin-top: 1rem;
        align-items: start;

        .fields{
            align-items: start!important;
            flex-direction: column;
            margin-bottom: .8rem;

            .fields{
                margin-left: 1rem;
            }
        }
    }

}


