/// <mls shortName="icaPageStory" project="100554" enhancement="enhancementStyle" />
				
ica-page-story-100554 {
    font-family: @font-family-primary;
    font-size: @font-size-16;
    font-weight: @font-weight-normal;
    line-height: 1.5;
    color: @text-primary-color; 
    background-color: @bg-primary-color; 
    display: block;      
 // Here your less
                
} 

                




