/// <mls fileReference="_100554_/l2/lessASTTest.less" enhancement="enhancementStyle" />

less-a-s-t-test-100554 {
	color: blue;
	margin: 2px;
	.cl1 {
		margin-bottom: 2px;
		margin-top: 2px;
		margin-right: 2px;
		margin-left: 2px;
		background-color: red;
		margin: 2px;
	}
}

less-a-s-t-test-100554.theme2 {
    // theme 3 for Christmas
    // use this theme for something cool
	display: inherit;
	.cl1 {
		margin: 2px;
	}
}

less-a-s-t-test-100554.theme3 {
	// theme description
	display: inherit;
}


