/// <mls fileReference="_100554_/l2/lessAST.less" enhancement="enhancementStyle" />

less-a-s-t-100554 {
    color: yellow;
    .cl1 {
        color: blue;
		.cl2 {
			&:move {
				margin: 9px;
			}
		}
    }

    &:hover {
        color: blue;
    }

}


