/// <mls fileReference="_100554_/l2/pluginPageAIVerify.less" enhancement="_100554_/l2/enhancementStyle" />

plugin-page-a-i-verify-100554 {

    font-family: @font-family-primary;
    font-size: @font-size-16;
    font-weight: @font-weight-normal;
    line-height: 1.5;
    color: @text-default;
    background-color: @surface-bg;

}


