/// <mls shortName="pluginPrototypeImprove" project="100554" enhancement="enhancementStyle" folder="" />

plugin-prototype-improve-100554 {

    padding: .4rem;
    display: block;
    max-width: 375px;
    font-size: 14px;
    font-family: @font-family-primary;

    details {
        >summary {
            cursor: pointer;
        }

        >div {
            margin-left: 1rem;
            padding: 1rem 1rem 0 1rem;
        }

        margin-top: .5rem;
    }

    .btn-group {
        display: flex;
        gap: 8px;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 10px;
        padding-top: 10px;

        .btn {
            padding: 6px 12px;
            border-radius: 16px;
            border: 1.5px solid #ccc;
            background: transparent;
            color: #333;
            cursor: pointer;
            font-weight: 400;
            user-select: none;
            transition:
                background-color 0.2s ease,
                border-color 0.2s ease,
                color 0.2s ease,
                font-weight 0.2s ease;
        }

        .btn:hover {
            border-color: #4A90E2;
            color: #004080;
        }

        .btn-selected {
            border-color: #4A90E2;
            background: #D6E9FF;
            color: #004080;
            font-weight: 600;
        }
    }

    .btn-action {
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 10px;
    
        .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: .3rem;
            width: 130px;
            height: 80px;
            padding: 6px 12px;
            border-radius: 6px;
            border: 1.5px solid #ccc;
            background: transparent;
            color: #333;
            cursor: pointer;
            font-weight: 400;
            user-select: none;
            transition:
                background-color 0.2s ease,
                border-color 0.2s ease,
                color 0.2s ease,
                font-weight 0.2s ease;
        }

        .btn:hover {
            border-color: #4A90E2;
            color: #004080;
        }

        .btn-selected {
            border-color: #4A90E2;
            background: #D6E9FF;
            color: #004080;
            font-weight: 600;
        }
    }



    .section {
        margin-bottom: 24px;
    }

    input {
        width: 100%;
        font-family: inherit;
        font-size: 1rem;
        padding: 8px;
        box-sizing: border-box;
        border-radius: 30px;
        border: 1px solid #ccc;
        resize: vertical;
    }

}


