/// <mls shortName="pluginViewMindMap" project="100554" enhancement="enhancementStyle" folder="" />

plugin-view-mind-map-100554 {

    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    display: block;
    font-family: @font-family-primary;
    line-height: 1.5;
    color: @text-primary-color;
    background-color: @bg-primary-color;

}


