/// <mls fileReference="_100554_/l2/pluginProjectFindFiles.less" enhancement="enhancementStyle" />
				
plugin-project-find-files-100554 {    
    background-color: @bg-primary-color;
    color: @text-primary-color;
    .svg-container {
        width: 22px;
        margin: 4px;
        display: inline-flex;
    }

    .body {
        margin: 1em;
    }

    [name="fileType"] {
        margin-top: .2em;
        margin-bottom: 1.5em;
        display: block;
    }

    [name="searchText"] {
        margin: .2em;
        display: block;
        width: 20em;
        padding: 0.5em;
        border: 1px solid @text-primary-color;
        border-radius: 4px;
    }

    button {
        display: block;
        margin: 2em;
        padding: 0.5em 1em;
        border: 1px solid @text-primary-color;
        background-color: @bg-secondary-color;
        color: @text-primary-color;
        cursor: pointer;
        border-radius: 4px;

        &:hover {
            background-color: @bg-secondary-color-hover;
        }
    }      
}


