/// <mls fileReference="_100554_/l2/pluginGithubL4Project.less" enhancement="enhancementStyle" />

plugin-github-l4-project-100554 {

    --github-back:#0d1117;
    --github-back2: #101204;
    --github-back3:#22272b;
    --github-back4:#323940;
    --github-back5:#f5f5f5;
    --github-color-primary:#B6C2CF;
    --github-color-secundary:#969494;
    --github-shadow1:#ffffff96;
    --github-shadow2:#8b88881a;
    --github-border1:#393939;   
    --github-shadow-hover:#dad5d563;
    --github-color-sucess:#1c8139;
    --github-color-sucess-hover:#22a547;
        
    background-color: @bg-primary-color;
    font-family: @font-family-primary;
    display: block;
    height: 100%;
    font-size: @font-size-16;
    font-weight: @font-weight-normal;
    position: relative;
    color: @text-primary-color-lighter;
    overflow: hidden;


    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 6px;
    }
    
    ::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }

    backbutton {
        width: 20px;
        display: flex;
        transform: rotate(180deg);
        cursor: pointer;
        position: absolute;
        left: 5px
    }


    .showinfo{
        width: max-content;
        margin: 0 auto;

        &:hover .infohv{
            display: none;
        }

        .infotxt{
            display: none;
        }

        &:hover .infotxt{
            display: inline;
        }
    }

    contentlistissues {
        display: flex;
        flex-direction: column;
        padding: .5rem;
    }

    contentlistitem {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        padding: .5rem;
        border-radius: 10px;
        border: 1px solid var(--github-border1);
        box-shadow: var(--github-shadow2) 0px 4px 10px -3px;

    }

    contentlistitem:hover {
        box-shadow: var(--github-shadow1) 0px 2px 8px -4px;
    }

    contentlistitem div {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: .5rem;
    }

    contentlistitem h3 {
        margin: 0;
    }

    contentlistitem span {
        font-size: 1rem;
        color: @text-primary-color-darker;
    }




    contentheader {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        padding: .5rem;
        position: relative;
        border-bottom: 1px solid var(--github-border1);
    }

    contentheader div {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: .5rem;
    }

    contentheader h3 {
        margin: 0;
        width: 100%;
        text-align: center;
    }

    contentheader span {
        //font-size: 1rem;
        //color: var(--github-color-secundary);
        text-align: center;
    }




    contentstatus {
        display: flex;
        height: calc(100vh - 183px);
        padding: 1rem;
        width: calc(100% - 32px);
        overflow-x: auto;
        position: relative;
    }

    contentstatus contentstatusitem {
        display: block;
        flex-shrink: 0;
        align-self: flex-start;
        padding: 0 6px;
        height: 100%;
        white-space: nowrap;

    }

    contentstatus contentstatusitem img {
        width: 30px;
        border-radius: 50%;
    }

    contentstatus contentstatusitem contentstatusitembody {
        display: flex;
        position: relative;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: flex-start;
        gap: .5rem;
        padding: .5rem;
        width: 280px;
        max-height: 100%;
        padding-bottom: 8px;
        border-radius: 12px;
        background-color: var(--github-back2);
        color: var(--github-color-primary);
        vertical-align: top;
        white-space: normal;
        scroll-margin: 8px;

    }

    contentstatusitembody contentst {
        min-height: 80px;
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    contentstatusitembody h4 {
        margin: 0px;
        padding-left: .4rem;
        color: var(--github-color-primary);
        font-size: 13px;
        display: flex;
        justify-content: space-between;
    }

    itemstatusissues {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        background: var(--github-back3);
        padding: .5rem;
        border-radius: 10px;
        cursor: pointer;
    }

    itemstatusissues:hover {
        box-shadow: 0px 0px 3px 0px var(--github-shadow-hover);
    }

    itemstatusissues contentlabel {
        font-size: 10px;
        padding: .2rem;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }



    contentviewissue {
        background: var(--github-back4);
        display: block;
        // max-width: 750px;
        width: 80%;
        position: absolute;
        top: 0px;
        padding: 1rem;
        border-radius: 10px;
        z-index: 99;
        transform: translate(10%, 78px);
        height: calc(100vh - 242px);
        overflow-y: auto;
        color:var(--github-color-primary);
    }

    contentviewissue .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    contentviewissue svg {
        fill: var(--github-color-secundary);
    }

    contentviewissue .header button {
        background: transparent;
        border: none;
        cursor: pointer;
    }

    contentviewissue .textcomment {
        width: 80%;
        border-radius: 5px;
        padding: .5rem;
        background:  var(--github-back3);
        color: var(--github-color-primary);
    }

    contentviewissue .button {
        background: var(--github-color-sucess);
        color: var(--github-color-primary);
        padding: .5rem;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }

    contentviewissue .button:hover {
        background: var(--github-color-sucess-hover);
    }



    constentviewoptions {
        width: 25%;
        gap: .5rem;
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
    }

    constentviewoptions viewoptionitens {
        display: flex;
        flex-direction: column;
    }

    constentviewoptions h5 {
        background: #3b444c;
        padding: .3rem;
        border-radius: 5px;
        cursor: pointer;
        margin: 0px;
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    constentviewoptions h5:hover {
        background: #3b444cde;
    }

    constentviewoptions viewoptionitens {
        background: #282e33;
        padding: .2rem;
        max-height: 150px;
        overflow-y: auto;
        gap: .3rem;
    }





    contentnewissue {
        display: flex;
        justify-content: center;
        gap: .5rem;
        padding-top: 1rem;

        background: var(--github-back4);
        max-width: 750px;
        width: 80%;
        position: absolute;
        top: 0px;
        padding: 1rem;
        border-radius: 10px;
        z-index: 99;
        transform: translate(15%, 78px);
    }

    contentnewissue input {
        width: 100%;
        border-radius: 5px;
        outline: none;
        padding-left: .2rem;
        height: 25px;
        border: 1px solid var(--bg-secondary-color-darker);
    }

    contentnewissue textarea {
        width: 100%;
        border-radius: 5px;
        outline: none;
        padding-left: .2rem;
        height: 120px;
        border: 1px solid var(--bg-secondary-color-darker);
    }

    contentnewissue h4 {
        margin: 0px;
    }

    contentnewissue svg {
        fill: var(--github-color-secundary);
    }

    contentnewissue buttonnewissues {
        background: var(--github-color-sucess);
        color: var(--github-color-primary);
        padding: .5rem;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }

    contentnewissue buttonnewissues:hover {
        background: var(--github-color-sucess-hover);
    }




    .contentloader {
        background: @bg-primary-color-darker-disabled;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .loader {
        width: 50px;
        height: 28px;
        --_g: no-repeat radial-gradient(farthest-side, @text-primary-color 94%, #0000);
        background:
            var(--_g) 50% 0,
            var(--_g) 100% 0;
        background-size: 12px 12px;
        position: relative;
        animation: l23-0 1.5s linear infinite;
    }

    .loader:before {
        content: "";
        position: absolute;
        height: 12px;
        aspect-ratio: 1;
        border-radius: 50%;
        background: @text-primary-color;
        left: 0;
        top: 0;
        animation:
            l23-1 1.5s linear infinite,
            l23-2 0.5s cubic-bezier(0, 200, .8, 200) infinite;
    }

    @keyframes l23-0 {

        0%,
        31% {
            background-position: 50% 0, 100% 0
        }

        33% {
            background-position: 50% 100%, 100% 0
        }

        43%,
        64% {
            background-position: 50% 0, 100% 0
        }

        66% {
            background-position: 50% 0, 100% 100%
        }

        79% {
            background-position: 50% 0, 100% 0
        }

        100% {
            transform: translateX(calc(-100%/3))
        }
    }

    @keyframes l23-1 {
        100% {
            left: calc(100% + 7px)
        }
    }

    @keyframes l23-2 {
        100% {
            top: -0.1px
        }
    }


}


