/// <mls fileReference="_100554_/l2/pluginLessPseudo.less" enhancement="enhancementStyle" />
				
plugin-less-pseudo-100554 {
                
 
    width: 100%;
    display: block;
    font-family: @font-family-primary;
    font-size: @font-size-16;
    font-weight: @font-weight-normal;
    line-height: 1.5;
    color: @text-primary-color;
    background-color: @bg-primary-color;
    padding-top: @space-8;
                
}


