/// <mls shortName="pluginPreviewInsights" project="100554" enhancement="enhancementStyle" />
plugin-preview-insights-100554 {
    display: block;
    font-family: var(--font-family-primary);
    padding: 1rem;
    position: relative;
    background-color: @bg-primary-color;
    color: @text-primary-color;
    font-size: @font-size-16;
    border-radius: 10px;
    overflow: auto;
    height: calc(100% - 20px);
    .header {
        display: flex;
        align-items: center;
        margin-bottom: @space-16;
    }

    .tab-header {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        background-color: @bg-primary-color;
        overflow: hidden;
        flex-shrink: 0;
    }

    .tab-group-left {
        display: flex;
        overflow-x: auto;
        flex: 1;
        min-width: 0;
        scrollbar-width: thin;
    }

    .tab-group-left::-webkit-scrollbar {
        height: 6px;
    }

    .tab-group-left::-webkit-scrollbar-thumb {
        background-color: var(--grey-color-darker);
        border-radius: 4px;
    }

    .tab-group-right {
        display: flex;
        flex-shrink: 0;
    }

    .tab-item {
        display: flex;
        align-items: center;
        position: relative;
    }

    .tab-button {
        padding: 10px 16px;
        cursor: pointer;
        background: none;
        border: none;
        border-right: 1px solid @grey-color;
        font-size: 14px;
        transition: background-color 0.2s ease;
        display: flex;
        flex-direction: column;
    }

    .tab-button:not(.active):hover {
        background-color: @grey-color-light;
        color: @text-primary-color;
    }

    .tab-button.active {
        background-color: @bg-primary-color-lighter-disabled;
        font-weight: bold;
        border-bottom: 2px solid @active-color;
    }

    .tab-content {
        position: relative;
        flex: 1;
        padding: @space-8;
        margin: 0;
        background-color: @bg-primary-color-lighter;
        color: @text-primary-color;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        h1{
            padding-left: .3rem;
            display: flex;
            gap:.5rem;
            align-items: center;

            svg{
                fill: @text-primary-color;
                color: @text-primary-color;
            }
        }
    }

    section {
        padding: 0.5rem 0.8rem;
        margin-bottom: 1.5rem;
        border: 1px solid #cecece;
        border-radius: 10px;
    }

    .business {
        .planning-info {
            margin-bottom: 2rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .planning-checklist-item {
            display: flex;
            gap: .3rem;
            align-items: center;
            padding-left: .5rem;

            widget-defs-planning-checklist-edit-100554 {
                flex: 1;
            }

            i {
                cursor: pointer;
                width: 20px;
                visibility: hidden;
                pointer-events: none;
            }

            &:hover {
                i {
                    visibility: visible;
                    pointer-events: all;
                }
            }
        }

        .planning-add-item {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            padding: .3rem;
            border: 1px solid transparent;
            color: @active-color;

            svg {
                fill: @active-color;
            }

            &:hover {
                border: 1px solid @grey-color-light;
            }
        }

        .add-new-userStorie-container{
            display: flex;
            width: 100%;
            button {
                cursor: pointer;
                padding: 0.3rem 0.6rem;
                border: 1px solid #ccc;
                border-radius: 4px;
                background: #f8f8f8;
                font-size: 0.85rem;
                display: flex;
                gap: .3rem;
            }
        }

        .section {
            display: block;
            padding: .2rem 1.5em;

            details {
                margin-bottom: 1rem;

                .summary-done{
                    color: @success-color;
                    svg {
                        fill: @success-color;
                    }
                }

                .summary-pending{
                    color: @warning-color;
                    svg {
                        fill: @warning-color;
                    }
                }

                >div {
                    margin-left: 1rem;
                    padding: 1rem;
                }

                >summary {
                    cursor: pointer;

                    svg {
                        height: 14px;
                        width: 14px;
                    }
                }
            }
        }
    }

    .technical {
        .meta-item {
            display: flex;
            flex-direction: column;
            gap: .3rem;
            overflow: hidden;
            width: 100%;

            input[type="text"] {
                padding: 4px 4px;
                border: 1px solid #d1d1d1;
                background-color: #fff;
                color: #000;
                font-size: 14px;
                transition: border-color .3s ease;
                outline: none;
                line-height: 1.2;
            }
        }
    }

    .metric {
        margin-bottom: 1em;
        display: flex;
        align-items: center;
        gap: 0.5em;
      }
      .metric label {
        width: 140px;
        display: inline-block;
      }
      .metric input {
        width: 60px;
      }
      .emoji {
        font-size: 1.5em;
      }
}


