/// <mls fileReference="_100554_/l2/pluginPullrequest.less" enhancement="_100554_/l2/enhancementStyle" />
				
plugin-pullrequest-100554 {

    display: block;
    margin-bottom: 1rem; 

    a {
        color: @link-color;
    }

    h3 {
        border-bottom: 1px solid @bg-primary-color-focus;
    }
                
}


