/// <mls fileReference="_100554_/l2/pluginPageProperties.less" enhancement="_100554_/l2/enhancementStyle" />

plugin-page-properties-100554 {

    font-family: @font-family-primary;
    font-size: @font-size-16;
    font-weight: @font-weight-normal;
    line-height: 1.5;
    color: @text-primary-color;
    background-color: @bg-primary-color;

}


