/// <mls shortName="pluginPageNavigation" project="100554" enhancement="enhancementStyle" />

plugin-page-navigation-100554 {
    padding: 1rem;
    display: block;
    font-family: @font-family-primary;
    font-size: @font-size-16;
    font-weight: @font-weight-normal;
    line-height: 1.5;
    color: @text-primary-color;
    background-color: @bg-primary-color;

    ul {
        list-style: none;
        padding: 0px 0rem 0rem .5rem;
        border-left: 1px solid #d4d4d4;
    }

    ul li.nav-item {
        position: relative;
        user-select: none;

        .move-icon {
            opacity: 0;
            cursor: grab;
            margin-right: .1rem;
            font-size: 1rem;
            user-select: none;
        }


        .header:hover {
            .move-icon {
                opacity: 1;
            }

        }

        &[draggable="true"] .move-icon:active {
            cursor: grabbing;
        }

        small {
            font-weight: 700;
            font-size: 11px;
        }

    }

    ul li .header {
        border: 1px solid transparent;
        padding: .4rem;
        cursor: pointer;
    }

    ul li .header:hover {
        border: 1px solid #d4d4d4;
    }

    ul li div.activeBranch {
        border: 1px solid #d4d4d4;
        display: block;
        justify-content: start;
        align-items: center;
        border-radius: 5px;
        background: var(--bg-primary-color-disabled);
        color: var(--text-primary-color);
    }

    ul li:before {
        content: ' ';
        position: absolute;
        width: 7px;
        height: 1px;
        background: #d4d4d4;
        top: 1.2rem;
        left: -8px;
    }

    .groupHiddenListIcon {
        background-image: url("data:image/svg+xml;utf8,<svg fill='%23727171' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'><!--!Font Awesome Free v6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d='M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z'/></svg>");
        background-repeat: no-repeat;
        background-position-y: center;
        width: 15px;
        height: 15px;
        display: none;
        margin-top: 5px;
        margin-right: 5px;
        transition: transform 200ms;
    }

    .groupHiddenList {
        padding: .3rem;
        transition: all 0.5s;
        cursor: pointer;
        display: none; //flex!important;
        z-index: 9;
        //background: #c4c4c2;
        //border-radius: 4px;
        border-top: 1px solid #c4c4c4;
    }

    ul li div.activeBranch .groupHiddenListIcon {
        display: block;
        float: right;
        position: relative;
    }


    .groupHiddenList .mls-gpbtnslider-item {
        transition: 0.5s;
        z-index: 10;
        font-size: 16px;
        line-height: normal;
        border-bottom: 1px solid #c7c4c4;

        &:hover{
            background:#2f2f2f17
        }
    }



    .groupHiddenList .mls-gpbtnslider-item:hover {
        color: #1a83ff !important;

        svg {
            fill: #1a83ff !important;
        }
    }


    .activegpbtnslider .groupHiddenList {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding-right: 6px;
        padding-left: 8px;
    }

    .activegpbtnslider .groupHiddenListIcon {

        transform: rotateZ(90deg);
    }

    .activegpbtnslider .groupHiddenList .mls-gpbtnslider-item {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: .5rem;
        color: #444343;

        svg {
            fill: #444343;
            ;
        }
    }

    .activegpbtnslider info-item {
        border-bottom: 1px solid #d4d4d43d;
    }

    info-item {
        display: flex;
        align-items: center;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: width 2s;
    }

    .infoname {
        display: inline-block;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        text-wrap-mode: nowrap;
    }



}


