/// <mls shortName="pluginProjectFindFiles" project="100554" enhancement="enhancementStyle" />
				
plugin-project-find-files-100554 {    
    background-color: @bg-primary-color;
    color: @text-primary-color;
    .svg-container {
        width: 22px;
        margin: 4px;
        display: inline-flex;
    }
    .plugin-body {
        margin-top: 1em;
    }

    [id="searchText"] {
        width: 20em;
        padding: 0.5em;
        border: 1px solid @text-primary-color;
        border-radius: 4px;
    }

    button {
        padding: 0.5em 1em;
        margin-left: 5px;
        border: 1px solid @text-primary-color;
        background-color: @bg-secondary-color;
        color: @text-primary-color;
        cursor: pointer;
        border-radius: 4px;

        &:hover {
            background-color: @bg-secondary-color-hover;
        }
    }      
}
