/// <mls fileReference="_100554_/l2/pluginAttrDataset.less" enhancement="enhancementStyle" />

plugin-attr-dataset-100554 {

    font-family: @font-family-primary;
    padding: 1rem;
    display: block;
    font-size: 13px;

    h3 {
        margin-top: .5rem
    }

    p {
        border: 1px solid #ddd;
        border-radius: 3px;
        margin: 0px;
        padding: .3rem;
    }

    button {
        padding: 0 .3rem;
        background-color: @active-color;
        color: white;
        border: none;
        border-radius: 2px;
        cursor: pointer;

    }

    button:hover {
        opacity: .5;

    }

    .tree {
        list-style: none;
        padding-left: 15px;
        border-left: 2px solid #ddd;
        margin-left: 8px;
    }

    .item {
        cursor: pointer;
        padding: 4px;
        display: flex;
        align-items: center;
        position: relative;
    }

    .toggle {
        width: 12px;
        height: 12px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-right: 8px;
        font-weight: bold;
        user-select: none;
        color: #555;
    }

    .bullet {
        width: 8px;
        height: 8px;
        background-color: #555;
        border-radius: 50%;
        display: inline-block;
    }

    .selected {
        background-color: @grey-color-light;
        border-radius: 4px;
    }

}


