/// <mls shortName="pluginPullrequest" project="100554" enhancement="enhancementStyle" />
				
plugin-pullrequest-100554 {

    display: block;
    margin-bottom: 1rem; 

    a {
        color: @link-color;
    }

    h3 {
        border-bottom: 1px solid @bg-primary-color-focus;
    }
                
}




