/// <mls shortName="servicePreview" project="100554" enhancement="enhancementStyle" />
collab-nav-3-service[data-service="_100554_servicePreview"] {
    collab-nav-3-menu-tools-cycle[key="test"][selected="0"] svg {
        color: @grey-color-darker;
        fill: @grey-color-darker;
    }

    collab-nav-3-menu-tools-cycle[key="test"][selected="1"] svg {
        color: @error-color;
        fill: @error-color;
        animation: pulse 1s infinite;
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
            box-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
        }

        50% {
            transform: scale(1.1);
            box-shadow: 0 0 20px rgba(255, 0, 0, 1);
        }

        100% {
            transform: scale(1);
            box-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
        }
    }


}

service-preview-100554 {

    display: block;

    collab-result-container-100554 {
        display: flex;
        height: 200px;
        overflow: auto;
        padding: 1rem;
        background: #f4f4f4;
        flex-direction: column;
        gap: .6rem;

        >div {
            display: flex;
            justify-content: end;
            padding: 0 1rem;

            i {
                cursor: pointer;
            }
        }
    }
}


