/// <mls fileReference="_100554_/l2/serviceUnit.less" enhancement="_100554_/l2/enhancementStyle" />

service-unit-100554 {

    display: block; 
    font-family: @font-family-primary;
    box-sizing: border-box;
    font-size: @font-size-16;
    height: 100%;
    overflow: auto;
    padding-left: 10px;

}


