/// <mls fileReference="_100554_/l2/serviceDashboard.less" enhancement="_100554_/l2/enhancementLit" />

service-dashboard-100554 {

    font-family: @font-family-primary;
    font-size: @font-size-16;
    font-weight: @font-weight-normal;
    line-height: 1.5;
    color: @text-primary-color;
    background-color: @bg-primary-color;
    display: block;
    overflow: auto;

}


