/// <mls fileReference="_100554_/l2/serviceCollabMessages.less" enhancement="_100554_/l2/enhancementStyle"/>

service-collab-messages-100554 {

    display: block;
    position: relative;
    overflow: hidden !important;

}


