/// <mls shortName="serviceApps" project="100554" enhancement="enhancementStyle" folder="" />

service-apps-100554 {

    display: block;
    padding: 1rem;

    .menu-container {
        font-family: @font-family-primary;
        color: @text-primary-color;
        background-color: @bg-primary-color;
        font-size: @font-size-16;
        line-height: @line-height-medium;
    }

}


