/// <mls shortName="servicePreviewL1" project="100554" enhancement="enhancementStyle" />
collab-nav-3-service[data-service="_100554_servicePreviewL1"] {

    collab-nav-3-menu-tools-cycle[key="startServer"][selected="1"]  {
        color: rgb(0, 251, 71);
        fill: rgb(0, 251, 71);
    }

}

service-preview-l1-100554 {

    display: block;

    

}


