/// <mls fileReference="_100554_/l2/serviceLiveView.less" enhancement="enhancementStyle" />

service-live-view-100554 {

    display: block;

    >* {
        height: 100%;
        width: 100%;
        display: block;
    }

}


