/// <mls fileReference="_100554_/l2/serviceDashboard.less" enhancement="_100554_/l2/enhancementStyle" />

service-dashboard-100554 {

    font-family: @font-family-primary;
    font-size: @font-size-16;
    font-weight: @font-weight-normal;
    line-height: 1.5;
    color: @text-default;
    background-color: @surface-bg;
    display: block;
    overflow: auto;

}


