/// <mls shortName="servicePanel" project="100554" enhancement="enhancementStyle" />

service-panel-100554 {

    display: block;
    overflow: auto;

    servicePanel {
        display: flex;
        background: #ebeff3;
        flex-direction: column;
        gap: .5rem;
        align-items: center;
        overflow-y: auto;
    }

}


