/// <mls shortName="testGenerateDefs" project="100554" enhancement="enhancementStyle" />
				
test-generate-defs-100554 {
                
display:block;
background-color: gray;
color: yellow;
height: 100%;             

                
}


