/// <mls fileReference="_100554_/l2/testMindMap.less" enhancement="enhancementStyle" />
				
test-mind-map-100554 {
                
 background-color: honeydew;
 display: block;
 color: black;               
                
}


