/// <mls shortName="wcdToolboxItemActionEditAttrOut" project="100554" enhancement="enhancementStyle" />

wcd-toolbox-item-action-edit-attr-out-100554 {

    font-family: @font-family-primary;
    font-size: @font-size-20;
    color: @text-primary-color;
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
    }

    svg {
        fill: currentColor;
    }

    .sidebar {
        width: 100%;
        background: @bg-primary-color;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        overflow-y: auto;
    }

    .sidebar h2 {
        font-size: 18px;
        margin-bottom: 15px;
        color: @text-primary-color;
    }

    .atributo {
        background: @bg-primary-color-darker;
        border: 1px solid #ddd;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    .atributo label {
        font-size: 14px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: .5rem;
        margin-bottom: 5px;
    }

    toolbareditt{
        display: flex;
        flex-direction: column;
    }

    blockplugins {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: .3rem;
        padding-left: .3rem;
        margin-top: .3rem;
        background: @bg-primary-color;
    }

    toolbaredittbody{
        background: @bg-primary-color;
        padding: .3rem;
    }

    pluginitem {
        height: 25px;
        width: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    pluginitem svg {

        width: 15px !important;
        height: 15px !important;
        cursor: pointer;
    }

    pluginitem.active {
        background: @bg-primary-color;
    }

    .atributo input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
    }

    attrvariations {
        display: block;
        margin-top: .5rem;

        label {
            font-size: 12px !important;
            padding-left: 3px;
        }
    }

    /*details {
        margin-top: 5px;
        background: #eee;
        padding: 5px;
        border-radius: 4px;
    }

    summary {
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        //display: flex;
        //align-items: center;
        //justify-content: space-between;

        select {
            border: 1px solid #a6a4a4;
            border-radius: 3px;
            height: 19px;
            outline: none;
        }

        addvariation {
            display: flex;
            gap: 1rem;
            align-items: center;
            float: right;
        }

        addvariationitem {
            display: flex;
            gap: .5rem;
            align-items: center;
            width: 0px;
            height: 19px;
            opacity: 0;
            transform: width 0.6s ease-out, opacity 0.6s ease-out;

            button {
                padding: 0 .3rem;
                background-color: #1890FF;
                color: white;
                border: none;
                border-radius: 2px;
                cursor: pointer;

            }

            button:hover {
                opacity: .5;

            }
        }

        addvariation.active addvariationitem {
            width: max-content;
            opacity: 1;
            transition: width 0.6s ease-out, opacity 0.6s ease-out;
        }
    }*/

}


