/// <mls shortName="wcImage" project="100554" enhancement="enhancementStyle" />

wc-image-100554 {

    display: block;

    .image-container {
        display: flex;
        justify-content: center;
    }

    img {
        max-width: 100%;
    }
    

}



