/// <mls shortName="wcSection" project="100554" enhancement="enhancementStyle" />

wc-section-100554 {

    height: 100%;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &.full {
        width: 100%;
    }

    &.outset {
        max-width: 740px;
    }

    &.inset {
        max-width: 680px;
    }


}



