/// <mls shortName="wcText" project="100554" enhancement="enhancementStyle" />

wc-text-100554 {

    display: inline-block;
    width: 100%;

    &.dropcap {
        p::first-letter {
            font-size: 3em;
            font-weight: bold;
            float: left;
            line-height: 1;
            margin-right: 0.1em;
        }
    }

    blockquote {
        border-left: 3px solid @text-primary-color-darker;
        padding-left: 20px;
        margin-left: -23px;
        padding-bottom: 2px;
    }
    

}



