/// <mls shortName="wcVideo" project="100554" enhancement="enhancementStyle" />

wc-video-100554 {

    display: block;

    video {
        width: 100%;
        height: auto;
        border: 1px solid;
    }
    

}



