/// <mls shortName="widgetColumn" project="100554" enhancement="enhancementStyle" />
				
widget-column-100554 {
                
     display: block;
    width: 100%;
    flex: 1;
                
}


