/// <mls shortName="widgetMindMapL4" project="100554" enhancement="enhancementStyle" />

widget-mind-map-l4-100554 {

    color: black;
    display: block;
    width: 100%;
    height: 100%;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;

    .breadcrumb {
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 13px;
        padding: 6px 10px;
        color: @text-primary-color; //rgba(0, 0, 0, 0.72);
        user-select: none;

        span {
            height: 30px;
            display: flex;
            align-items: center;
        }
    }

    .crumb {
        cursor: pointer;
        transition: color 0.2s ease;
        height: 18px;
    }

    .crumb:hover {
        text-decoration: underline;
    }

    .crumb.active {
        font-weight: 600;
        cursor: default;
        text-decoration: none;
    }

    .sep {
        color: @text-primary-color; //#666;
        font-weight: 100;
        font-size: 20px;
        margin-left: 8px;
        margin-right: 8px;
        margin-top: -3px;
    }

    .mindmap-layout {
        display: flex;
        width: 200%;
        /* Dobro da largura para acomodar os dois estados */
        height: calc(100% - 40px);
        /* Ajuste conforme seu breadcrumb */
        transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
        will-change: transform;
        overflow-x: hidden;
    }

    /* Quando a descrição está ativa, empurra tudo para a esquerda */
    .mindmap-layout.has-description {
        transform: translateX(-50%);
    }

    .canvas-container {
        width: 50%;
        /* Metade do container (100% da tela) */
        height: calc(100% - 100px);
        position: relative;
        overflow-y: auto;
    }

    .node-description {
        width: 50%;
        /* Metade do container (100% da tela) */
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
        overflow-y: auto;
        border-left: 1px solid #eee;
        font-size: 13px;
        color: @text-primary-color;
    }

    .back-btn {
        cursor: pointer;
        padding: 8px 16px;
        align-self: flex-start;
        background-color: transparent;
        border: 1px solid rgb(172, 172, 172);
        color: @text-primary-color;
    }

}


