/// <mls shortName="widgetTableSelect" project="100554" enhancement="enhancementStyle" />

widget-table-select-100554 {

    display: block;
    margin-bottom: .5rem;

    table {
        width: 100%;
    }

    table,
    th,
    td {
        border: 1px solid;
    }

}

