/// <mls shortName="widgetVideo" project="100554" enhancement="enhancementStyle" />

widget-video-100554 {

    display: block;

    video {
        width: 100%;
        height: auto;
        border: 1px solid;
    }

}

