/// <mls shortName="widgetImage" project="100554" enhancement="enhancementStyle" />

widget-image-100554 {
    
    display: block;
    .image-container {
        display: flex;
        justify-content: center;
        height: 100%;
    }

    img {
        max-width: 100%;
    }




}

