/// <mls shortName="widgetDivider" project="100554" enhancement="enhancementStyle" />

widget-divider-100554 {

    display: block;

    hr {
        display: block;
        border: 0;
        text-align: center;
        overflow: visible;
        margin-top: 20px;
        margin-bottom: 20px;
        height: auto;
    }

    hr:before {

        font-family: @font-family-primary;
        font-weight: 400;
        font-style: italic;
        font-size: @font-size-40;
        letter-spacing: .6em;
        content: attr(data-text);
        display: inline-block;
        margin-left: .6em;
        color: @text-primary-color;
        position: relative;
        top: -10px;
    }

}

