/// <mls shortName="widgetDefsListEdit" project="100554" enhancement="enhancementStyle" />

widget-defs-list-edit-100554 {

    display: block;
    padding: .2rem;

    .mode-read {
        .check-actions {
            display: flex;
            gap: .2rem;

            span {
                cursor: pointer;
                padding: 0 .4rem;
                border-radius: 5px;

                &:hover {
                    background-color: #e9e8e8;
                }
            }
        }
    }

    .mode-edit {
        .actions {
            margin-top: 0.5rem;
            display: flex;
            gap: 0.5rem;
        }

        textarea,
        input[type="text"] {
            padding: 4px 4px;
            border: 1px solid #d1d1d1;
            background-color: #fff;
            color: #000;
            font-size: 14px;
            transition: border-color .3s ease;
            width: 100%;
            border-radius: 8px;
            outline: none;
            line-height: 1.2;
        }

        button {
            cursor: pointer;
            padding: 0.3rem 0.6rem;
            border: 1px solid #ccc;
            border-radius: 4px;
            background: #f8f8f8;
            font-size: 0.85rem;
            display: flex;
            gap: .3rem;
        }
    }



}


