aim-select-language-100554 {

    .select-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 20em);
        gap: 1px;

        .select-grid-item {
            padding: 5px;
            display: flex;
            cursor: pointer;
            overflow-y: auto;
            label {
                cursor: pointer;
                max-width: 15em;
                text-overflow: ellipsis;
                font-size: @font-size-16;
                white-space: nowrap;
                overflow: hidden;
            }

            &.selected {
                background: @grey-color-light;
                animation: backgroundFadeIn 5s ease-in-out;
            }

        }
    }

    .select-search {

        margin-top: 2rem;
        display: flex;
        gap: .6em;
        border-left: 1px solid @grey-color-dark;
        padding-left: 1rem;

        input {
            width: 100%;
        }

        button {
            width: 10em;
        }
    }

    .select-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding-left: 1rem;
        gap: .5rem;

        .select-check-all {
            display: flex;
            gap: .2rem;

            label {
                cursor: pointer;
            }
        }

        button {
            width: 10em;
        }

        .select-btn-group {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        .select-clear-all {
            display: flex;
            align-items: center;
            gap: .2rem;
        }

        .select-btn-actions {
            display: flex;
            gap: 1rem;

        }
    }

    @keyframes backgroundFadeIn {
        0% {
            background-color: @grey-color-light;
        }

        100% {
            background-color: @grey-color;
        }
    }
}

