/// <mls fileReference="_100554_/l2/agents/agentToBeOrganismTemplate.less" enhancement="_100554_/l2/enhancementLit" />

agents--agent-to-be-organism-template-100554 {
    display: block;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    position: relative;
}


