/// <mls fileReference="_100554_/l2/agents/collabAuraPageCommon.less" enhancement="_100554_/l2/enhancementLit" />

agents--collab-aura-page-common-100554 {
    display: block;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    position: relative;
}


