service-ds-assets-video-100554 { //don't change this line 
    .service_assets_video {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        video {
            width: 100%;
            max-height: 100%;
        }
    }
}

