service-create-project-100554 {
    //don't change this line 

    :host {
        overflow-y: auto;
        overflow-x: hidden;
        display: block;
    }

    details>div {
        padding-left: @space-32;
    }

    .container-input {
        max-width: 600px;
    }

    textarea,
    input {
        width: 100%;
        max-width: 100%;
        min-width: 200px;
    }

    input:read-only {
        background-color: @grey-color-light;
    }

    ul {
        padding-inline-start: 0;
    }

    .buttons-container {
        margin-top: @space-32;
        margin-bottom: @space-32;
        display: flex;
        justify-content: center;

        button {
            color: #ffffff;
            background-color: @active-color;
            min-width: 200px;
        }

        &.left {
            margin-top: @space-16;
            justify-content: start;
        }
    }

    .select-type-project {
        padding: @space-16;

        .cols {
            display: flex;
            gap: 3rem;
            flex-wrap: wrap;

            .col-left {
                flex: 1;

                ul {
                    list-style: none;
                    padding-inline-start: 0;

                    li:hover {
                        background-color: @grey-color-light;
                    }

                    li.selected {
                        background-color: @active-color;
                        color: #ffffff;

                        small {
                            color: #ffffff;
                        }
                    }

                    li {
                        padding: 1rem 0.3rem;
                        font-size: @font-size-16;
                        margin-bottom: @space-8;
                        cursor: pointer;
                        border-bottom: 1px solid @grey-color;

                        span {
                            font-weight: @font-weight-bold;
                        }

                        small {
                            font-weight: @font-weight-lighter;
                            color: @text-primary-color-lighter;
                        }
                    }
                }
            }

            .col-right {
                min-width: 400px;
                flex: 1;

                .details-selected-item {
                    margin-top: 2rem;

                    .details-title {
                        font-size: @font-size-20;
                        font-weight: @font-weight-bold;
                        display: block;
                    }

                    .details-more {
                        font-size: @font-size-16;
                    }
                }

                .details-select-type {
                    display: block;

                    span {
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }

        table {
            font-size: @font-size-16;
            border-spacing: 0;
            table-layout: fixed;
            width: 100%;
        }

        table thead th {
            border: none;
            background-color: @grey-color-light;
        }

        table thead th:nth-child(1) {
            width: 200px;
        }

        table thead th:not(:nth-child(1)) {
            width: 80px;
        }

        table tbody tr>td:not(:nth-child(1)) {
            width: 80px;
        }

        table tbody tr {
            cursor: pointer;

            &:hover {
                background-color: @grey-color-light;
            }

            &.selected {
                background-color: @active-color;
                color: #ffffff;

                small {
                    color: #ffffff;
                }

                svg {
                    fill: #ffffff;
                }
            }
        }

        table tbody td {
            text-align: center;
            vertical-align: middle;

            span {
                font-weight: @font-weight-bold;
            }

            small {
                font-weight: @font-weight-lighter;
                color: @text-primary-color-lighter;
            }
        }
    }

    .details-new-project {
        padding: @space-16;

        ul {
            list-style: none;
        }

        .card-list {
            display: flex;
            gap: 2rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
            flex-wrap: wrap;

        }

        .card-lock {
            z-index: 1001;
            opacity: 1;
            position: absolute;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: @error-color;

            svg {
                fill: @error-color;
            }

            border: 1px solid @grey-color;
            background-color: @bg-primary-color;
            top: -15px;
            right: -15px;
        }


        .card-item.disabled {
            cursor: not-allowed;
            opacity: .6;
            user-select: none;
        }

        .card-item {
            z-index: 1000;

            position: relative;
            display: flex;
            flex-direction: column;
            width: 300px;
            border: 1px solid @grey-color-light;
            padding: @space-16;
            gap: .4rem;
            cursor: pointer;
            transition: transform 0.1s ease-in-out;

            &:hover:not(.disabled),
            &.selected {
                background-color: @grey-color-light;
            }

            &.shake {
                animation: shake 1s cubic-bezier(0.7, 0, 0.3, 1);
            }

            .card-type {
                width: 30px;
                display: block;
                margin-left: auto;
                padding: .25em .4em;
                font-size: 75%;
                font-weight: 700;
                line-height: 1;
                text-align: center;
                white-space: nowrap;
                padding-right: .6em;
                padding-left: .6em;
                border-radius: 10rem;
                background-color: @bg-secondary-color;

                &.free {
                    background-color: @success-color;
                    color: @grey-color-lighter;
                }

                &.pro {
                    background-color: @active-color;
                    color: @grey-color-lighter;

                }

            }

            .card-desc {
                font-size: @font-size-16;
            }

            .card-details {
                font-size: @font-size-16;

                ul li {
                    display: flex;
                    align-items: center;
                }
            }

        }


        @keyframes shake {
            0% {
                transform: translateX(0);
            }

            10% {
                transform: translateX(-10px);
            }

            20% {
                transform: translateX(8px);
            }

            30% {
                transform: translateX(-6px);
            }

            40% {
                transform: translateX(4px);
            }

            50% {
                transform: translateX(-2px);
            }

            60% {
                transform: translateX(1px);
            }

            70% {
                transform: translateX(-0.5px);
            }

            80% {
                transform: translateX(0.25px);
            }

            90% {
                transform: translateX(-0.1px);
            }

            100% {
                transform: translateX(0);
            }
        }
    }

}

