service-plugins-100554 {//don't change this line 
    
    display: block;
    font-family: @font-family-primary;
    box-sizing: border-box;
    overflow: auto;
    font-size: @font-size-16;
    height: 100%;
    
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: @space-16;
    }

    .header button {
        padding: 8px 16px;
        background-color: @success-color;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    .header button:hover {
        background-color: #45a049;
    }

    .header input[type="text"] {
        padding: 8px;
        border: 1px solid @grey-color-darker;
        border-radius: 4px;
    }

    .plugin-list {
        list-style: none;
        border-top: 2px solid @grey-color-dark;
        padding-top: 10px;

        .headerCategory {
            &:not(:first-of-type) {
                margin-top: 2rem;
            }
        }

        p {
            margin: 0;
        }

        li {
            border-bottom: 1px solid @grey-color;
            padding: 10px 0;
            font-size: @font-size-16;

            .plugin-info {
                margin-bottom: 10px;
                display: flex;
                flex-direction: column;
                gap: .5rem;
             
            }
        }

        li .plugin-title {
            width: 15rem;

            h3 {
                margin: 0;
            }
        }

        li details>summary {
            cursor: pointer;
        }

        li details>div {
            margin-left: 1rem;
            padding: 1rem;
            margin-top: 1rem;
            display: flex;
            align-items: center;
            &.active{
                background-color: @grey-color-lighter;
            }
        }

        li .plugin-info>div {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-bottom: .4rem;
        }

        li .plugin-info>p {
            font-size: @font-size-16;
        }


        li .plugin-actions a {
            font-size: @font-size-12;
            color: @text-secondary-color;

            &.delete {
                color: @error-color;
            }
        }
    }

}

