service-user-settings-100554 { //don't change this line 
 	 section{
        padding: .5rem;
        details > div{
            margin-left: 1rem;
            margin-top: .3rem;
        }
     }
}

